.o-button {

  display: inline-flex;
  padding: 0.25rem 0.5rem;
  background-color: color(blue);
  border: none;
  border-radius: 0.4rem;
  color: color(white);
  font-weight: 700;
  transition: background-color 0.1s $ease, color 0.1s $ease, box-shadow 0.1s $ease;

  &:hover {
    background-color: color(blue, dark);
  }

  &:focus {
    box-shadow:
      $active-shadow,
    ;
  }

  &--text {
    background-color: transparent;
    color: color(blue);

    &:hover {
      background-color: transparent;
      color: color(blue, dark);
    }
  }

}
