.o-format {

  display: inline-flex;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  background-color: color(blue);
  color: color(white);
  font-weight: 700;

  &:hover {
    background-color: color(blue, dark);
  }

}
