.c-conversion-list {

  list-style: none;

  &__item {
    margin-bottom: 0.25rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: flex;
  }

  &__format {
    flex: 1 1 auto;
    width: 50%;
    min-width: 0;

    &:first-child {
      text-align: right;
    }

    &:last-child {
      text-align: left;
    }
  }

  &__divider {
    display: flex;
    width: 2rem;
    flex: 0 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    margin: 0 !important;
  }

}
