select {
  display: inline-block;
  background-color: color(white);
  border: none;
  -webkit-appearance: none;
  border-radius: 0.5rem;
  color: color(blue);
  box-shadow: 0px 2px 4px rgba(5, 30, 53, 0.06);
}
