.c-page-footer {

  &__header {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(color(white), 0.1);
  }

  &__links {
    font-weight: 600;

    a {
      color: inherit;

      &:hover {
        color: color(blue);
      }
    }

    ul {
      list-style: none;
    }

    li {
      margin: 0.2rem 0;
    }
  }

}
