.c-page-footer {

  &__section {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(color(white), 0.1);

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }
  }

  &__links {
    font-weight: 600;

    a {
      color: inherit;
      border-bottom: 0.1rem solid transparent;

      &:hover {
        border-color: currentColor;
      }
    }

    ul {
      list-style: none;
    }

    li {
      margin: 0.2rem 0;
    }
  }

  small,
  .u-small {
    opacity: 0.7;
  }

}
