@import '~settings';
@import '~utilityFunctions';

.c-uploader {

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 20rem;
  border-radius: 0.4rem;
  overflow: hidden;

  @include min-width(large) {
    margin: 0 -2rem;
  }

  &:focus {
    outline: none;
  }

  $size: 80px;
  $thickness: 15px;
  $color: color(blue);

  &__border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background 1s $ease, opacity 0.5s $ease;
    opacity: 0.15;

    background-image:
      linear-gradient(90deg, $color 66%, transparent 66%),
      linear-gradient(90deg, $color 66%, transparent 66%),
      linear-gradient(0deg, $color 66%, transparent 66%),
      linear-gradient(0deg, $color 66%, transparent 66%),
    ;
    background-repeat:
      repeat-x,
      repeat-x,
      repeat-y,
      repeat-y,
    ;
    background-size:
      $size $thickness,
      $size $thickness,
      $thickness $size,
      $thickness $size,
    ;
    background-position:
      left top,
      right bottom,
      left bottom,
      right top,
    ;

    @keyframes border-dance {
      0% {
        background-position: left top, right bottom, left bottom, right top;
      }
      100% {
        background-position: left $size top, right $size bottom, left bottom $size, right top $size;
      }
    }
  }

  &__border-edge {
    position: absolute;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background-color: $color;
    }

    &::before {
      width: $size / 2;
      height: $thickness;
    }

    &::after {
      width: $thickness;
      height: $size / 2;
    }

    &:nth-child(1) {
      top: 0;
      left: 0;
    }

    &:nth-child(2) {
      top: 0;
      right: 0;
      transform: rotate(90deg);
    }

    &:nth-child(3) {
      bottom: 0;
      right: 0;
      transform: rotate(180deg);
    }

    &:nth-child(4) {
      bottom: 0;
      left: 0;
      transform: rotate(270deg);
    }
  }

  // &:hover &__border {
  //   opacity: 1;
  // }

  &.is-loading &__border {
    opacity: 1;
    animation: border-dance 1s infinite $ease;
  }

  &.is-drag-over &__border {
    opacity: 1;
  }

  &__progress {
    font-weight: 700;
    color: color(blue);
  }

  .dz-preview {
    display: none;
  }

}
