@import '~settings';
@import '~utilityFunctions';

.c-uploader {

  height: 20rem;
  border-radius: 1.25rem;
  padding: 2rem;
  margin: 0 -2rem;
  background-color: color(white);
  box-shadow: $large-shadow;

  &__dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 3px dashed rgba(color(blue), 0.2);
    transition: border 0.2s $ease;

    &:focus {
      outline: none;
      border-color: color(blue);
    }
  }

  &.is-drag-over &__dropzone {
    border-color: color(blue);
  }

  &.is-loading &__dropzone,
  &.is-finished &__dropzone {
    border-color: transparent;
  }

  &__progress {
    font-weight: 700;
    color: color(blue);
  }

  .dz-preview {
    display: none;
  }

}
