$grid-settings: (
	breakpoints: (
		x-small: 'only screen and (min-width: 350px)',
		small: 'only screen and (min-width: 600px)',
		medium: 'only screen and (min-width: 800px)',
		large: 'only screen and (min-width: 1000px)',
		x-large: 'only screen and (min-width: 1200px)',
	),
	bases: (
		12,
	),
	gutters: (
		none: 0,
		narrow: .7rem,
		normal: 2rem,
		wide: 4rem,
	),
	default-gutter: 2rem,
	gutter-breakpoints: true,
	vertical-gutters: true,
	fallback: false,
	fallback-markup-fix: false,
	grid-modifiers: (
		left,
		center,
		right,
		top,
		middle,
		bottom,
		// forwards,
		backwards,
		// between,
		// around,
		equal,
	),
	grid-modifier-breakpoints: true,
	item-modifiers: (
		// first,
		// last,
		// reset-order,
		// push,
		// pull,
		// auto,
		fill,
	),
	item-modifier-breakpoints: true,
);
