name: build

on: [push, delete]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: Shutdown default MySQL in Ubuntu (SUDO)
      run: sudo service mysql stop

    - name: "Install MariaDB"
      uses: getong/mariadb-action@v1.1
      with:
        character set server: 'utf8'
        collation server: 'utf8_general_ci'
        mariadb version: '10.4.10'
        mysql database: 'db'
        mysql user: 'db'
        mysql password: 'db'

    - name: "Install PHP"
      uses: "shivammathur/setup-php@2.11.0"
      with:
        coverage: "none"
        php-version: "7.4"

    - name: Install Pandoc
      run: |
        sudo apt-get update
        sudo apt-get install -y wget
        sudo mkdir -p /usr/src/pandoc
        cd /usr/src/pandoc
        sudo wget https://github.com/jgm/pandoc/releases/download/2.9.2/pandoc-2.9.2-1-amd64.deb
        sudo dpkg -i pandoc-2.9.2-1-amd64.deb

    - name: Install Dependencies (PHP vendors)
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-suggest --no-progress --prefer-dist
      working-directory: ./src

    - name: Copy .env Laravel Configuration for CI
      run: php -r "file_exists('.env') || copy('.env.ci', '.env');"
      working-directory: ./src

    - name: Generate key
      run: php artisan key:generate
      working-directory: ./src

    - name: Migrate database
      run: php artisan migrate --force
      working-directory: ./src

    - name: Execute tests
      run: php artisan test
      working-directory: ./src

  mirror_to_gitlab:
    runs-on: ubuntu-latest
    needs: tests
    steps:
    - uses: actions/checkout@v1

    - uses: pixta-dev/repository-mirroring-action@v1
      with:
        target_repo_url:
          ${{ secrets.GITLAB_REMOTE_URL }}
        ssh_private_key:
          ${{ secrets.GITLAB_SSH_PRIVATE_KEY }}
